<div class="row">
    <div *ngFor="let cat of cats" class="col-12 col-md-4">
        <img :src="{{ cat.url }}" :alt="{{ cat.url }}" class="img-fluid img-thumbnail img-cat">
        <div class="text-center mb-2">
            <button (click)="setFavourite(cat.id)" class="btn btn-sm btn-success">
				<img src="./../../assets/heart-fill.svg" alt="">
			</button>
        </div>
    </div>
</div>