<router-outlet></router-outlet>
<app-navbar></app-navbar>

<div class="container py-5">
    <div class="row">
        <div class="col">
            <h1 class="text-center mb-3">{{ title }}</h1>
            <router-outlet></router-outlet>

            <!-- <app-cats></app-cats> -->
        </div>
    </div>
</div>