<nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="#">
        <img src="https://laughing-swartz-acb879.netlify.app/assets/cat-logo.gif" alt="" height="100">
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/favorites" routerLinkActive="active">Favoritos</a>
            </li>
        </ul>
    </div>
</nav>